body {
  text-align: center;
  background: linear-gradient(#DBD3D8, #0F2C13);
  color: white;
}

h1 {
  text-decoration: underline;
}

hr {
  border-top: 5px solid black;
}

.section {
  height: 500px;
}

#intro {
  height: 500px;
  text-align: left;
  color: black;
  background-image: url("../images/67.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 5px solid #1C503E;
}

#profile {
  height: 250px;
}
